
html {
    background: url(../media/bavaria.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgba(79, 82, 82, 0.883);    
    color: rgb(23, 197, 197);   
}

section {
    padding-top: 50px;
    margin-top: 50px;
}

h1 {
    font-size: 6vw;
    position: relative;
    -webkit-animation: moveH1 4s; /* Safari */
    animation: moveH1 4s;    
}

button {
    background-color: rgb(9, 97, 85);
    color:rgb(240, 189, 95);
    box-shadow: 3px 5px rgba(0, 0, 0, 0.699);
    padding: 10px;
    border-radius: 50px;
}

button:hover {
    background-color: rgb(73, 143, 4);
    color:rgb(241, 167, 30);
    box-shadow: 1px 2px rgba(0, 0, 0, 0.699);
    cursor: pointer;
}

@keyframes moveH1 {
    from {left: -100vw;} /* The h1 element is starting off screen to the left */
    to { left: 0vw;} /* This moves the h1 element into place on the screen */
}

/*==========================================
        `   NavBar 
=========================================*/

/* The animation effect for moving the nav bar in from above the left of the screen on page load */
@keyframes moveNav {
    from {left: -100vw;} /* The navbar is starting off screen to the left */
    to { left: 0vw;} /* This moves the navbar into place on the screen */
}

.navbar {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(107, 101, 90, 0.87);
    position: fixed;
    top: 0;
    -webkit-animation: moveNav 3s; /* Safari */
    animation: moveNav 3s; /* This makes the moveNav animation last 3 seconds */
}

/* The animation effect for moving the nav bar links in from above the top of the screen on page load */
@keyframes moveNavText {
    from {top: -100vw;} /* This sets the navbar text 100% above the viewport */
    to {top: 0vw;} /* This lowers the navbar text onto the navbar */
}

.nbli {
    float: left;
}

.nbli a {
    float: left;
    display: block;
    color:rgb(6, 62, 182); 
    padding: 1vw;   
    text-align: center;
    text-shadow: 1px 3px rgb(216, 9, 9);
    padding: 12px 15px;
    text-decoration: rgb(5, 4, 3);
    background-color: rgba(107, 101, 90, 0.87);
    position: relative;
    -webkit-animation: moveNavText 4s; /* Animation for Safari */
    animation: moveNavText 4s; /* Applies the moveNavText animation for 4s */ 
}


.nbli a:hover {
    background-color: rgba(241, 167, 30, 0.514);
    text-shadow: none;
    cursor: pointer;
    transition: 0.5s ease-in;
}

/*=========================================
            End NavBar
=========================================*/


div {
    display: block;
}

#home {
    background: url(../media/jazz_captain.jpg) no-repeat 50% 50%;    
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    color:rgb(90, 129, 127);
}

.main-head {
    text-shadow: 2px 5px 6px rgba(216, 152, 32, 0.9);
    font-variant: small-caps;
    background-color: rgba(23, 197, 197, 0.116);
    color:rgba(90, 129, 127, 0.8);
    letter-spacing: 8pt;
    word-spacing: 30pt;
    font-size: 6cm;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 3;
    font-weight: 900;
    border: 5px groove darkolivegreen;
    border-radius: 25px;
    padding: 10px;
}

.main-head:hover {
    border: 7px dotted rgb(255, 230, 0);
    border-radius: 25px;
}

.center { 
    text-align: center; 
    margin: auto;   
}

.row {
    display: flex;
    width: 100%;
}

.column {
    width: 75% 25%;
   flex: auto;
    padding: 25px;
    border: 3px solid rgb(63, 87, 21);
    border-radius: 15px;
    background-color: rgba(9, 81, 105, 0.5);
}

.column:hover {
    border: 5px dotted rgb(255, 230, 0);
}

.container {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* =================================================
                GitHub section
================================================= */

#git {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ820ETIz-RdCjY6vN7Xot355BX4T4hrmx96A&usqp=CAU) no-repeat;
    background-attachment: initial;
    -webkit-background-size: cover;
    background-size: cover; 
    color:rgb(112, 239, 243); 
    text-shadow: 1px 2px rgb(12, 51, 46);  
    width: auto;   
    padding: 35px;
}

.gitBox {
    background-color: rgba(128, 105, 56, 0.726);  
    border-radius: 30px; 
    padding: 25px;
    margin: auto;
    text-align: center;
}

.gitstyle {
    color:rgb(241, 167, 30);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.gitstyle:hover {
    color:rgb(194, 255, 81);
}

/* =============================================
            About
============================================= */

.about {
    background-color: rgba(128, 105, 56, 0.726); 
    color: rgb(112, 239, 243); 
    text-shadow: 1px 2px rgb(12, 51, 46);
    border-radius: 30px; 
    padding: 25px;
    margin: auto; 
    text-align: center;
}

#li1, #li2, #li3, #li4, #li5 {
    display: none;
}

.aboutStyle {
    color:rgb(23, 197, 197);
    text-shadow: 1px 2px rgb(12, 51, 46); 
}

.aboutStyle:hover {
    color: rgb(241, 167, 30);
}

/* =======================================================
        Slide Show
======================================================= */
#Slideshow_Background {
    background: rgba(13, 83, 88, 0.35); 
    border-radius: 15px;
}

.mySlides{
    display: none; /* Keeps images hidden until selected */
}

#Slideshow_Container {
    width: 40vw; /* Relative sizing of the container for the slidewshow set to 40% of the viewport width */
    height: auto; /* The height of the container is automatically adjusted */
    padding-top: 4%; /* Adds a small padding to the top of the slideshow container */
    position: relative; /* This sets the container relative to its normal positioning */
    margin:auto; /* This will horizontally center the container on the page */
}

/*  slideshow images */
.Slideshow_Images {
    vertical-align: middle; /* This centers the images vertically within the slideshow container */
    height: auto; /* The height of the images is automatically adjusted based on the content */
    box-shadow: 10px 15px rgba(8, 33, 44, 0.582); /* Adds a shadow around the slideshow images */
    border-radius: 25px;
    width: 25%; /* The width of the images is automatically adjusted based on the content */
}

/* Styling of the dots under the slideshow */
.dot {
    cursor: pointer; /* The cursor changes to pointer when hovered over the dots */
    height: 1vw; /* The dots are sized relative to the viewport width */
    width: 1vw;
    margin: .25vw; /* adds additional spacing between the dots */ 
    background-color: rgb(23, 197, 197); /* dot color */
    border-radius: 50%; /* Makes the dots circles by rounding each corner */
    display: inline-block; /* Allows the dots to sit next to eachother rather than on a new line */
    transition: background-color 0.6s ease; /* When clicked on the dots transition to a different color when clicked or hovered over (the affect is defined below) */
    z-index: 1; /* This ensures the dots will be displayed above any other elements */
}

/* Hover effect for slideshow dots */
.active, .dot:hover {
    background-color: rgb(241, 167, 30); /* Sets the color of the dots when active or hovered over */
}

/* Fading animation for slideshow */
.fade {
    animation-name: fade; /* Fade animation is defined below */
    animation-duration: 1.5s; /* The animation lasts 1.5 seconds */
    -webkit-animation-name: fade; /* Same as above for Safari 4.0-8.0 */
    -webkit-animation-duration: 1.5s;
}

/*===============================================
            Contact
===============================================*/

input[type=text], input[type=email] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(45, 90, 4);
    border-radius: 10px;
    background-color: #88e0e027;
    color:rgb(23, 197, 197);
    font-size: 16px;
  }

input[type=text]:hover, input[type=email]:hover {
    background-color: rgba(0, 0, 0, 0.699);
}

textarea {
    width: 60%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(45, 90, 4);
    border-radius: 10px;
    background-color: #88e0e027;
    color:rgb(23, 197, 197);
    font-size: 16px;
    resize: none;
  }

textarea:hover {
    background-color: rgba(0, 0, 0, 0.699);
}

input[type=submit] {
    background-color: rgb(9, 97, 85);
    color:rgb(240, 189, 95);
    box-shadow: 3px 5px rgba(0, 0, 0, 0.699);
    padding: 20px;
    border-radius: 50px;
}

input[type=submit]:hover {
    background-color: rgb(73, 143, 4);
    color:rgb(241, 167, 30);
    box-shadow: 1px 2px rgba(0, 0, 0, 0.699);
    cursor: pointer;
}

.form-container {
    width: 666px;
    border: 4px soild rgba(9, 81, 105, 0.7);
    border-radius: 15px;
    padding: 25px;
    background: url(../media/stalegap.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: rgb(241, 167, 30);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

 /* Button used to open the contact form - fixed at the bottom of the page */
 .open-button {
    background-color: rgb(9, 97, 85); 
    color: rgb(240, 189, 95);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #311515;
    border-radius: 15px;
    z-index: 9;
}

/* Add a background color to the cancel button */
.cancel {
    background-color: rgb(119, 16, 16);
    color:rgb(240, 189, 95);
    padding: 20px;
    border-radius: 50px;
}



/* ====================================================
            Bonus Section
==================================================== */

iframe {
    border-radius: 15px;
    box-shadow: 8px 15px rgba(0, 0, 0, 0.445);
}

/* =====================================================
                Footer
===================================================== */

.butt {
    background-color: rgba(107, 101, 90, 0.87);
    color: rgba(107, 101, 90, 0.87);
    text-align: center;
}

.butt:hover {
    color: rgb(241, 167, 30);
}






 

